services:
  dickgrowerbot-py:
    build:
      context: .
      dockerfile: pybot/Dockerfile
    restart: unless-stopped
    environment:
      - TELOXIDE_TOKEN
      - LOG_LEVEL
      - DATABASE_URL=postgres://${POSTGRES_USER:?error}:${POSTGRES_PASSWORD:?error}@${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:?error}
      - HELP_ADMIN_CHANNEL_RU
      - HELP_ADMIN_CHANNEL_EN
      - HELP_ADMIN_CHAT_RU
      - HELP_ADMIN_CHAT_EN
      - HELP_GIT_REPO
      - CHATS_MERGING_ENABLED
      - TOP_UNLIMITED_ENABLED
      - MULTIPLE_LOANS_ENABLED
      - PVP_DEFAULT_BET
      - PVP_CHECK_ACCEPTOR_LENGTH
      - PVP_CALLBACK_LOCKS_ENABLED
      - PVP_STATS_SHOW
      - PVP_STATS_SHOW_NOTICE
      - GROWTH_MIN
      - GROWTH_MAX
      - GROW_SHRINK_RATIO
      - GROWTH_DOD_BONUS_MAX
      - NEWCOMERS_GRACE_DAYS
      - TOP_LIMIT
      - HELP_PUSSIES_COEF
      - LOAN_PAYOUT_COEF
      - DOD_SELECTION_MODE
      - DOD_RICH_EXCLUSION_RATIO
      - ANNOUNCEMENT_MAX_SHOWS
      - ANNOUNCEMENT_EN
      - ANNOUNCEMENT_RU
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - postgres-network

  postgres:
    image: postgres:14.5-alpine
    environment:
      - POSTGRES_PORT
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - PGDATA=/var/lib/postgresql/data/pgdata
    expose:
      - ${POSTGRES_PORT:-5432}
    volumes:
      - ./data-py:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - postgres-network

networks:
  postgres-network:
    driver: bridge
